
.body{
	font-family: 'Public Sans', sans-serif;
}
.navigation-block{
	background-color: white;
	padding-top: 30px;
	margin-bottom: 30px;
	position: relative;
	z-index: 4;
	padding-left: 200px;
}
.career-icon{
	margin-right: 300px;
}
.btn{
	/*margin-left: 300px;*/
	/*border-radius: 40%;*/
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
	border-bottom-left-radius: 30%;

}

.navbar-brand{
	margin-right: 200px;

}
.biggest-photo{
	position:relative;
	right: 100px;
	bottom: 200px;
	z-index:1;
}
.mobile-photo{
	position: absolute;
	top: -30px;
	left: 200px;
	z-index: 2;
}
.section-1-heading{
	position: relative;
	z-index:5;
}
.section-2{
	background-color: hsl(0, 0%, 98%);

}
.main-heading{
	padding-top: 170px;
	font-size: 4rem;
	/*font-family: sans-serif;*/
}
.main-para{
	color: hsl(233, 8%, 62%);
}
.section-3-heading{
	padding-top: 100px;
	padding-bottom: 30px;

}
.section-3-para{
	font-size: 1.1rem;
	padding-bottom: 50px;
	color: grey;


}
.section-3{
	padding-bottom: 100px;
	padding-left: 150px;
	padding-right: 50px;
	background-color: hsl(220, 16%, 96%);

}



.section-3-images{

	padding-bottom: 30px;

}
.section-4-heading{
	padding-left: 200px;
	padding-top: 100px;
    padding-bottom: 50px;
}
.section-4-subheading{
	font-size: 0.7rem;
	padding-top: 25px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: grey;
}
.section-4-para{
	color:grey;
	font-size: 0.9rem;
	
}
.yooy,.section-4-para{
	padding-left: 10px;
	padding-right: 10px;
}
.footer{
	background-color: hsl(233, 26%, 24%);
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}




.section-4-images{
	height: 250px;
	width: 250px;
	padding-left-left: 20px;
     padding-right: 20px;
}
.footer-bottom{
	padding-bottom: 7px;
	padding-top: 7px;
}
.footer-bottom-left{
	padding-left: 200px;
}
.footer-bottom-left-photo{
	padding-bottom: 40px;
}
.bottom-right{
	padding-left: 250px;
}
.copyright{
	color: grey;
	padding-top: 30px;
}

/*mobile design using media query*/
@media (max-width:1000px){
	
	.navigation-block{
		padding-left: 20px;
	}
	.biggest-photo{
	position:relative;
	right: 10px;
	bottom: 600px;
	z-index:1;
	height: 300px;
	width: 500px;
}
.mobile-photo{
	position: absolute;
	top: -900px;
	left: -60px;
	height: 600px;
	width: 600px;
	z-index: 2;
}
.section-1-heading{
text-align: center;
}
.main-heading{
	padding-top: 270px;
	font-size: 3rem;
	text-align: center;

}
.section-1{
	margin-bottom: -250px;
}
.section-3{
	text-align: center;
	padding-bottom: 60px;
	padding-left: 80px;
	padding-right: 50px;
	background-color: hsl(220, 16%, 96%);
}
.section-3-images{
	padding-bottom: 15px;
}
.section-4{
	text-align: center;
}
.section-4-heading{
	padding-left:0px;
	padding-top: 80px;
    padding-bottom: 30px;
}
.section-4-images{
	height: 250px;
	width: 400px;
	border-radius: 10%;
	padding-left: 10px;
	padding-top: 30px;
}
.section-4-subheading,.yooy,.section-4-para{
	text-align: left;
	padding-left: 30px;
}
.footer{
	text-align: center;
}
.footer-bottom-left-photo{
	margin-left: 0px;
}
.footer-bottom-left{
padding-left: 10px;
padding-bottom: 20px;
}
.bottom-right{
	padding-left: 0px;
	padding-top: 30px;
}

} 